.fileWrapper {
  & > .inputFile {
    display: none;
  }
}

.fileLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;
  width: 100%;
  height: 100%;
  border: 1px dashed #191919;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
